GEE_PROJECT_ID=your_project_id
GEE_PRIVATE_KEY_ID=your_private_key_id
GEE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\\nYOUR_KEY_CONTENT_HERE\\n-----END PRIVATE KEY-----\\n"
GEE_CLIENT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GEE_CLIENT_ID=your_client_id
GEE_TOKEN_URI=https://oauth2.googleapis.com/token
